[
  {
    "scope": "https://api.layer.com:443",
    "method": "post",
    "path": "/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts",
    "body": {
      "mime_type": "text/plain",
      "body": "hello world"
    },
    "status": 201,
    "response": {
      "id": "layer:///messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts/7a548ef1-8175-42f3-bfb0-014913610565",
      "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts/7a548ef1-8175-42f3-bfb0-014913610565",
      "message_url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c",
      "mime_type": "text/plain",
      "body": "hello world",
      "encoding": null,
      "content": null,
      "updated_at": "2018-01-12T20:11:50.559Z"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8"
    ]
  },
  {
    "scope": "https://api.layer.com:443",
    "method": "get",
    "path": "/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c",
    "body": "",
    "status": 200,
    "response": {
      "id": "layer:///messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c",
      "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c",
      "receipts_url": null,
      "position": 7008288768,
      "conversation": {
        "id": "layer:///conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426",
        "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426"
      },
      "parts": [
        {
          "id": "layer:///messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts/c80a7b4e-7c9c-4eba-95c8-703d870ec224",
          "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts/c80a7b4e-7c9c-4eba-95c8-703d870ec224",
          "message_url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messa[...]
  {
    "scope": "https://api.layer.com:443",
    "method": "put",
    "path": "/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts/c80a7b4e-7c9c-4eba-95c8-703d870ec224",
    "body": {
      "mime_type": "text/plain",
      "body": "UPDATED hello world"
    },
    "status": 200,
    "response": {
      "id": "layer:///messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts/c80a7b4e-7c9c-4eba-95c8-703d870ec224",
      "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c/parts/c80a7b4e-7c9c-4eba-95c8-703d870ec224",
      "message_url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/f3e5f2b7-6086-4866-a42b-dec15bc53d5c",
      "mime_type": "text/plain",
      "body": "UPDATED hello world",
      "encoding": null,
      "content": null,
      "updated_at": "2018-01-12T20:11:50.899Z"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8"
    ]
  }
]