[
  {
    "scope": "https://api.layer.com:443",
    "method": "post",
    "path": "/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages",
    "body": {
      "sender_id": "layer:///identities/idk-test-13",
      "parts": [
        {
          "mime_type": "text/plain",
          "body": "hello world"
        }
      ]
    },
    "status": 201,
    "response": {
      "channel": null,
      "conversation": {
        "id": "layer:///conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426",
        "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426"
      },
      "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/c6b05227-5b5b-44fa-a0fe-35f221c93900",
      "sent_at": "2018-01-12T20:25:23.757Z",
      "id": "layer:///messages/c6b05227-5b5b-44fa-a0fe-35f221c93900",
      "recipient_status": {
        "layer:///identities/idk-test-13": "read"
      },
      "sender": {
        "url": "https://api.layer.com/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/users/idk-test-13/identity",
        "display_name": "IDK test user",
        "user_id": "idk-test-13",
        "id": "layer:///identities/idk-test-13",
        "avatar_url": null
      },
      "parts": [
        {
          "body": "hello world",
          "encoding": null,
          "id": "layer:///messages/c6b05227-5b5b-44fa-a0fe-35f221c93900/parts/c6414154-53eb-475a-9b9a-e9981880ba78",
          "mime_type": "text/plain",
          "content": null
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=UTF-8"
    ]
  },
  {
    "scope": "https://api.layer.com:443",
    "method": "delete",
    "path": "/apps/72b74c56-f018-11e7-b67e-f39a3e9bd19e/conversations/4a5e0b9c-f808-4811-9a03-1cbc40348426/messages/c6b05227-5b5b-44fa-a0fe-35f221c93900",
    "body": "",
    "status": 204,
    "response": "",
    "rawHeaders": [
    ]
  }
]